<div class="w-100">
  <nav class="navbar navbar-expand-lg navbar-dark bg-navbar">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/images/logo-w-icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Chudi
    </a>
    <!-- <div class="col-12 text-center justify-content-center d-flex">
      <form class="form-inline">
        <div class="inner-addon left-addon">
          <i class="glyphicon fas fa-search text-gray"></i>
          <input type="text" class="form-control border-15" placeholder="Search" name="search"
            (keyup)="SearchItem($event.target.value)" />
        </div>
      </form>

    </div> -->

    <div class="" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item dropdown ab right top active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i>
            <span class="margin-left">Admin</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)="Logout()">Logout</a>

          </div>
        </li>

      </ul>
      <!-- <div class="form-inline my-2 my-lg-0">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
          <span class="margin-left">Admin</span>
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
          <a class="dropdown-item" href="#">Logout</a>

        </div>
      </div> -->

    </div>
  </nav>
</div>